:root {
  --uni-blue-rgb: #32a1ce;
}

.comment-form {
  margin-bottom: 2rem;

  .theme_container,
  .language_container {
    cursor: pointer;
    writing-mode: horizontal-tb;
    display: inline-table;
    border-image-slice: 12 12 12 12;
    border-image-width: 12px 12px 12px 12px;
    border-image-outset: 1vw;
    border-image-repeat: repeat repeat;
    border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-2.png");
    border-style: solid;
    margin: 1.5vw;
  }

  .theme_container:hover,
  .language_container:hover,
  .theme_active,
  .language_active {
    border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png");
  }

  .theme_container {
    width: 20vw;
    height: 20vw;
    .theme_text {
      display: none;
      padding: 1vw;
    }
  }

  .language_container {
    width: 8vw;
    height: 8vw;
    .language_text {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .theme_text {
    display: none;
  }

  .theme_header {
    vertical-align: top;
    color: white;
    letter-spacing: 2px;
    font-size: 1.5vw;
  }

  .theme_description {
    color: white;
    letter-spacing: 2px;
    font-size: 1.2vw;
  }

  .theme_administration:hover .theme_text,
  .theme_water:hover .theme_text,
  .theme_climate:hover .theme_text,
  .theme_plastic-waste:hover .theme_text,
  .theme_protected-areas:hover .theme_text {
    display: none;
  }

  .theme_administration {
    background: url("administration.jpg") no-repeat center center;
  }

  .theme_water {
    background: url("water.jpg") no-repeat center center;
  }

  .theme_climate {
    background: url("climate.jpg") no-repeat center center;
  }

  .theme_plastic-waste {
    background: url("plastic-waste.jpg") no-repeat center center;
  }

  .theme_protected-areas {
    background: url("protected-areas.jpg") no-repeat center center;
  }
  .theme_administration,
  .theme_water,
  .theme_climate,
  .theme_plastic-waste,
  .theme_protected-areas {
    background-size: cover;
  }

  .comment_description {
    font-size: 2vw;
    color: var(--bs-blue);
    text-emphasis-color: var(--uni-blue-rgb);
    border: 1vw double var(--uni-blue-rgb);
    padding: 1vw;
    font-style: italic;
    display: none;
  }
}
