/**

Save the Planet - Unite the Armies
Version: 2.0
Author: Save the Planet - Unite the Armies
Copyright: Save the Planet - Unite the Armies

[Table of contents]

1. Construction
2. Typography
3. Animation
4. Color
5. Decoration

[Developer notes]

1. z-index values

  Header: 100
  Header-inner: 100 // ??
  .footer: 1

  .slideshow-container
    .slideshow: 2
      li.active img: 2

  Slider-content contains slide specific headers.
  .slider-content: 3



[Info]

Based on Sartre Skin Barber Shop by ThemeMountain.

/** =========================================================================
  *   1. CONSTRUCTION
  * =========================================================================
*/

body {
  overflow-x: hidden !important;
  overflow-y: scroll;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.wrapper-inner {
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.content {
  background-color: white;
  margin-top: 5vmax;
  &:after {
    box-sizing: border-box;
  }
  /* position: absolute;
  top: 20vh;
  border: 3px solid blue;
  bottom: 0;
  left: 0;
  right: 0; */
}

header {
  position: fixed !important;
  top: 0;
  left: 0;
  /* bottom: 15vh; */
  right: 0;
  z-index: 100;
  /* width: 100%; */
  /* height: 5vmax; */
  /* TODO: header-inner has 1px margin-left/right and i dont know why */
  padding: 2vmin 0;
  box-sizing: border-box;
  /* border: 3px solid orange; */

  .logo {
    position: absolute;
    top: 0;
    left: 13vw;
    height: 4vmax;
    line-height: 4vmax;
    display: table;
    width: 18vw;
  }
  .earth {
    width: 6vw;
  }

  @media only screen and (min-width: 960px) {
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 0.5vw;
        height: 0.7vw;
        line-height: 0.5vw;
      }
    }
  }

  .mobile-navigation {
    .mobile-toggle {
      transition: background-color 2s ease-in-out;
      padding-bottom: 10px;
    }
  }

  &.header-background {
    .mobile-navigation {
      .mobile-toggle {
        background-color: #333;
      }
    }
  }

  /* mobile menu is used smaller screens, not only touch screens */
  .mobile-navigation .mobile-toggle:hover {
    border: 1px dashed #333;
    opacity: 1;
  }
}

header .header-inner {
  width: inherit;
}

header nav {
  line-height: 1.5vmax;
}
header nav[class*="primary-navigation"].first {
  padding-top: 0.5vmax;
}

header .logo a:hover {
  opacity: 0.6 !important;
}
header .logo img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

header .logo a {
  /* display: block !important; */
  position: absolute;
  top: 0;
}

header .logo a:first-child {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
header .logo a + a {
  display: none !important;
}

header .v-align-middle,
header .logo-inner {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
header .logo-inner {
  overflow: hidden;
}

header .header-inner {
  max-width: 100%;
  opacity: 1;
  position: relative;
  z-index: 100;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

header .header-inner {
  background-color: transparent;
  background-image: url(blank.gif);
}
.nav-bar {
  width: 100%;
  /* min-height: 5rem; */
}
.nav-bar-inner {
  position: relative;
}
.nav-bar .logo {
  /* height: 5rem; */
  /* line-height: 5rem; */
  /* float: left; */
}
.nav-bar .logo {
  margin-right: 3rem;
}
.nav-bar .logo img {
  margin-top: -4px;
}

/* </--- Header */

.vh-30 {
  height: 30vh;
}
.vh-50 {
  height: 50vh;
}
.vh-100 {
  height: 100vh;
}

.footer {
  width: 100%;
  background: #fff;
  z-index: 1;
  position: relative;
}

.featured-media .tm-slider-container {
  background-color: white;
}

.random-comment {
  .random-comment-body {
    padding: 1vw;
  }
  .random-comment-name {
    letter-spacing: 1.5px;
  }
}

/* public: Flag Icons
 *
 * At footer and votes.
 */
#recent_votes_container .flag-icon,
.country_flag .flag-icon {
  height: 3vw;
  width: 4vw;
}
.votes .vote_percentage > div {
  height: 1vh;
}

/* .slideshow-container .slideshow {
} */

/* -----------------------------------------------------------------
 *  1.1 Slideshow
 * ----------------------------------------------------------------- */

.slideshow-container {
  position: relative;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: white;
    opacity: 0;
  }

  .slider-content {
    padding-top: 30vmin;
  }

  &.vh-100 {
  }
  &.vh-50 {
    .slider-content {
      padding-top: 20vmin;
    }
  }
  &.vh-30 {
    .slider-content {
      padding-top: 15vmin;
    }
  }
}

.slideshow-container-top {
  /* Show slideshow using only and all visible viewport area,
   * without explict height. If height will be more than
   * viewport control buttons will be located
   * outside of viewport.
   *
   * with max-height next section at landing page is not shown because
   * previous sibling section has then only 100vh height but child
   * image is larger and runs over sibling section...
   * do not use: max-height: 100vh;
   * do not use: height: 100vh;
   */
  height: fit-content;
  /*  */
}

/* .slideshow.slideshow-landing {
  height: 66vw;
  min-height: 300pt;
} */

/** public: Slideshow-container for Welcome carousel.
  */
.slideshow-container.slideshow-container-welcome-carousel {
  position: relative;
  h1,
  h2,
  h3,
  h4,
  h5 {
    transition: opacity 3s 0.6s ease-in, transform 8s ease-out;
  }
}

/** public: Slides under all kinds of Slideshows
  *
  * .slider-content - contains headers and images of a slide.
  **/
.slideshow-container .slideshow {
  position: relative;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  line-height: 1;

  .slider-content {
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    table-layout: fixed;
    text-align: center;
    position: absolute;
    z-index: 3;
    text-shadow: 1px 1px 0em rgba(0, 0, 0, 0.5), 0 0 0.3em rgba(0, 0, 0, 0.3),
      0 0 0.7em rgba(0, 0, 0, 0.4);
  }

  li {
    visibility: hidden;
    margin: 0;
    padding: 0;

    &.slide.text-dark {
      h1,
      h2,
      h3,
      h4,
      h5 {
        color: var(--bs-dark);
      }
    }
    &.slide.text-light {
      h1,
      h2,
      h3,
      h4,
      h5 {
        color: var(--bs-light);
      }
    }

    /* blank.gif is 1px width and height by default. */
    &.slide.slide-blank {
      img {
        width: 100%;
        object-fit: cover;
        /* height: 100%;
        object-position: center; */
      }
    }

    /* without width:100% at high res screen images are not streched.
     */
    img {
      width: 100%;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
      max-height: 100%;
      margin: 0 auto;
      display: block;
      float: none;
      position: relative;
      transition: scale 8s ease-in-out, opacity 3s;
      z-index: 0;
    }
    img.svg {
      width: fit-content;
      height: fit-content;
      /* margin-top: 20vh; */
      padding: 10vw;
    }
  }

  li.active {
    visibility: visible;
    z-index: 2;

    /*  fit-content - image height is not streched if resolution width
     *                is small and height is big.
     *
     *  width: 100% - ei voi olla koska venyttää kuvan rikki,
     *                esim. maapallo.
     *
     *  kuvat näytetään koko leveydeltä ja korkeudelta ilman mitään lisäasetuksia,
     *  jos kuva on suurempi kuin alue...
     *  - täytyy olla cover:in lisäksi min-height viewportin koon mukaan.
     *
     *  erityistapaus: blank.gif
     *  - täytyy olla width: 100% ja height: 100%.
     *
     */
    img {
      min-height: 100vh;
      /* max-height: 100vh; */
      object-fit: cover;
      object-position: bottom;
      scale: 1.1;
      z-index: 2;
      transform: translate(0, 0);
    }
  }
}

/* public: Slide continue, headers.
 *
 * Contains css for Slide headers (Different than Slideshow headers).
 */
.slideshow-container .slideshow li.active .slider-content {
  > h1 {
    /* transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68); */
    transform: translateY(-1vmin);
  }
  > h1.show {
    visibility: visible;
    padding: 8vmin;
    opacity: 1;
    scale: 3;
    display: block;
    transition: opacity 600ms ease-in, scale 2s cubic-bezier(0.9, 0.2, 0.4, 1);
  }
  > h2,
  > h3,
  > h4,
  > h5 {
    /* transition-timing-function: cubic-bezier(0.29, 1.01, 1, -0.68); */
    transform: translateY(1vmin);
  }
  > h2.show,
  > h3.show,
  > h4.show,
  > h5.show {
    visibility: visible;
    padding: 3vmin;
    opacity: 1;
    scale: 2;
    display: block;
    transition: opacity 2s ease-in, scale 4s ease-in-out;
  }
}

/** public: Slideshow-carusel.
  *
  * Spesific css for carusels.
  */
.slideshow-container .slideshow-carousel {
  li {
    position: absolute;
    z-index: 0;
    left: -10000px;
    top: -10000px;

    /* at small resolution cannot have
       min-height: 100vh, goes over footer.
     */
    max-height: 100vh;

    img {
      opacity: 0.6;
    }
  }

  li.active {
    position: static;
    img {
      opacity: 1;
    }
  }
}

.slideshow-container-why_vote .slideshow-carousel {
  li {
    img {
      opacity: 1;
    }
  }
}

/* public: Headers of all kinds of Slideshows. */
.slideshow-container .slideshow-headers {
  position: absolute;
  z-index: 3;
  width: 600px;
  right: 1vw;
  top: 15vh;
  height: auto;
  margin-top: 2vh;
  margin-bottom: 0;
  h1,
  h2,
  h3,
  h4,
  h5 {
    opacity: 0;
    transform: translate(50px, 50px);
  }

  &.active {
    h1,
    h2,
    h3,
    h4,
    h5 {
      opacity: 1;
      transform: translate(0);
    }
  }
}

.slideshow-container .slideshow-controls {
  position: absolute;
  z-index: 4;
  right: 1vw;
  top: 5vh;
  height: auto;

  .bi {
    display: none;
    font-size: 3vmin;
    cursor: pointer;
    padding: 0 1vmin;
  }

  .bi-play {
  }

  .bi-pause-fill {
    color: gray;
  }
}

.slideshow-container .slideshow-next-and-previous {
  position: absolute;
  z-index: 10;
  top: 40%;
  /* height: 100%; */
  width: 100%;
}

/* -----------------------------------------------------------------
 *  </-- END 1.1 Slideshow
 *
 *
 * 1.2 Flash Messages
 * ----------------------------------------------------------------- */

@media (hover: none) {
  /* if media cannot handle hover, do not show this */
  .show-if-hover {
    display: none;
  }
}

.flash_container {
  position: absolute !important;
  left: 1vw;
  right: 1vw;
  z-index: 99;
  top: 2vmin;

  ul {
    text-align: center;
    padding: 0;
    margin: 0;
    /* box-shadow: 0.3vmin 0.3vmin 2px #999; */
    border: 6px solid;
    border-radius: 6px;

    &.alert-success {
      border-color: var(--bs-success);
      background-color: var(--bs-success);
    }
    &.alert-warning {
      border-color: var(--bs-warning);
      background-color: var(--bs-warning);
    }
    &.alert-danger {
      border-color: var(--bs-danger);
      background-color: var(--bs-danger);
    }
    &.alert-info {
      border-color: var(--bs-info);
      background-color: var(--bs-info);
    }

    &.sub-list {
      border: 0;
    }

    li {
      /* padding: 1vw 1vw 0 1vw; */
      color: var(--bs-alert-color);
      text-transform: uppercase;

      i {
        font-size: 3vmin;
        color: yellow;
        /* background-color: yellow; */
      }

      h1 {
        font-size: 1vmax;
        margin: 0;
        padding: 1vmin;
      }
      h2,
      h3,
      h4,
      h5 {
        font-size: 0.8vmax;
      }
    }
  }
}

.flash_container ul.sub-list {
  text-align: left;
  padding: 0;
  min-width: 30vmin;
  display: inline-block;

  li {
    padding: 0.5vw;
    text-transform: none;
    background-color: transparent;
    border: 0;

    span {
      padding-left: 0.5vw;
    }
  }
}
.flash_container ul.alert-success ul.sub-list {
  list-style: inside smiling-face;
}
.flash_container ul.alert-warning ul.sub-list {
  list-style: inside asterism;
}
.flash_container ul.alert-danger ul.sub-list {
  list-style: inside question-exclamation;
}
.flash_container ul.alert-info ul.sub-list {
  list-style: inside information-source;
}

/* -----------------------------------------------------------------
 *  </-- END 1.2 Flash Messages
 * ----------------------------------------------------------------- */

@media only screen and (max-width: 960px) {
  header .primary-navigation {
    display: none;
  }
  header .construction-info {
    display: block;
    height: 4vmax;
    line-height: 4vmax;
    text-align: center;
  }

  .primary-navigation {
    position: absolute;
    z-index: 101;
    border: 1px dashed #333;
    top: 8vh;
    right: 10vmin;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding-left: 1vmin;
    &.show-navigation {
      display: block;
    }
    &.hide-navigation {
      display: none;
    }
    li {
      display: list-item;
      a {
        font-size: 1vmax;
        color: #333;
      }
    }
  }
}

/* .header {
    background: none;
    position: static !important;
    height: 10vw;

    .header-inner {
      height: 8rem !important;
      padding-top: 0;
      border: none;
    }
    .logo-inner {
      display: table-cell;
      vertical-align: middle;
    }
    .logo a {
      position: relative;
    }
    .logo a:first-child {
      opacity: 1;
      top: 0;
      -webkit-transform: translateX(0) !important;
      transform: translateX(0) !important;
    }
    .logo a:first-child {
      display: none !important;
    }
    header .primary-navigation {
      display: none !important;
    }
    .header nav:nth-child(2) {
      padding-top: 0.1vw;
      line-height: 0.1vw;
    }
  } */

/** =========================================================================
  * 2. TYPOGRAPHY
  *
  * - font, letter-spacing, list-style
  * ========================================================================= */

body {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 1vmax;
}

footer a,
header a {
  font-size: 0.7vw;
}

ul {
  list-style: none;
}
ol {
  list-style: decimal inside;
}
ul.disc {
  list-style: disc inside;
}
ul.circle {
  list-style: circle inside;
}
ul.square {
  list-style: square inside;
}
ol.decimal-leading-zero {
  list-style: decimal-leading-zero inside;
}
ol.upper-roman {
  list-style: upper-roman inside;
}
ol.lower-alpha {
  list-style: lower-alpha inside;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}
h1 {
  font-weight: 700;
}

/* -----------------------------------------------------------------
 *  2.1 Bootstrap
 * ----------------------------------------------------------------- */
.bi {
  font-size: 1vmax;
  color: cornflowerblue;
}

.bkg-cornflowerblue {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}
.bkg-hover-cornflowerblue:hover {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.text-light a {
  color: var(--bs-light);
}
.text-dark a {
  color: var(--bs-dark);
}
/* ----------------------------------------------------------------- */

header ul > li > a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  text-decoration: underline;
}

.random-comment {
  .random-comment-body {
    font-size: 2vw;
  }
  .random-comment-name {
    font-weight: 700;
  }
}

/** =========================================================================
  * 2. ANIMATION
  * ========================================================================= */

header {
  transition-property: height, transform, visibility;
}

.no-transition {
  transition: none !important;
}

/* logo animation --> */
.header-transparent .logo a:first-child {
  opacity: 0;
  -webkit-transform: translateY(5rem);
  transform: translateY(5rem);
}
.header-transparent .logo a + a {
  display: block !important;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  width: 100%;
}

.header-background .logo a:first-child {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.header-background .logo a + a {
  display: block !important;
  opacity: 0;
  -webkit-transform: translateY(-5rem);
  transform: translateY(-5rem);
}
/* <!-- logo animation */

/* Next and previous buttons */
.slider-nav {
  /* margin-top: -2.5rem;
  width: 5rem;
  height: 5rem; */
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ccc;
  text-align: right;
  padding-right: 10px;
  line-height: 5vh;
  /* display: none; */
  position: absolute;
  z-index: 10;
  .bi {
    color: white;
    font-size: 10vmax;
  }
  /* visibility: hidden; */
}
.slider-nav:hover {
  /* border: 1px dotted #eee; */
  /* width: 10vmin; */
  color: #fff;
  text-align: right;
}

.slider-nav-next {
  top: 50%;
  right: 1vmin;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/* #tms-next:before {
  content: "\e644";
} */
.slider-nav-prev {
  top: 50%;
  left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* #tms-prev:before {
  content: "\e643";
} */

/* .tm-slider-container.show-on-hover .tms-arrow-nav,
.tm-slider-container.show-on-hover .tms-pagination {
  opacity: 0;
}
.tm-slider-container.show-on-hover:hover .tms-arrow-nav,
.tm-slider-container.show-on-hover:hover .tms-pagination {
  opacity: 1;
} */
/* .tm-slider-container.background-slider .tms-arrow-nav,
.tm-slider-container.background-slider .tms-pagination {
  display: none !important;
} */
.tms-arrow-nav {
  -webkit-transition-property: width, background, color, opacity;
  -moz-transition-property: width, background, color, opacity;
  -o-transition-property: width, background, color, opacity;
  -ms-transition-property: width, background, color, opacity;
  transition-property: width, background, color, opacity;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  -ms-transition-duration: 300ms;
  transition-duration: 300ms;
}

/** =========================================================================
  * 2. COLOR
  * ========================================================================= */

.header {
  background-color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
}

.header ul > li > a:hover {
  color: var(--bs-blue);
}
.header-background {
  background-color: var(--bs-light);
}

@media only screen and (min-width: 960px) {
  .header ul > li > a {
    color: var(--bs-light);
  }
}

.header-background ul > li > a,
.footer a {
  color: var(--bs-dark) !important;
}

#recent_votes_container .recent-vote:hover {
  background-color: var(--bs-focus-ring-color);
}

.button-white {
  color: black;
  background-color: white;
  span {
    transition: color 3s ease-in-out;
    color: black;
  }
}
.button-white:hover {
  color: white;
  background-color: orange;
  span {
    color: white;
  }
}
.button-black {
  color: white;
  background-color: black;
  span {
    transition: color 3s ease-in-out;
    color: white;
  }
}
.button-black:hover {
  color: black;
  background-color: orange;
  span {
    color: black;
  }
}

.section-block:not([class*="bg-*"]) {
  background-color: var(--bs-light);
}

@media only screen and (max-width: 960px) {
  .header .header,
  .header .header-inner,
  .header.header-transparent .header-inner {
    background-color: inherit;
  }
  .header .header-inner {
    border: none;
  }
  header {
    .mobile-navigation {
      display: block;
    }
  }
}

@media only screen and (min-width: 960px) {
  header {
    .mobile-navigation {
      display: none;
    }
  }
}

@media only print {
  header {
    display: none;
  }
}

/** =========================================================================
  * 2. DECORATION
  * ========================================================================= */

.random-comment {
  border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png");
  padding: 2vw;
}
.initiative-presented {
  border-image-source: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-3.png");
  padding: 5vw;
}

.random-comment,
.initiative-presented {
  writing-mode: horizontal-tb;
  display: inline-table;
  border-image-slice: 12 12 12 12;
  border-image-width: 12px 12px 12px 12px;
  border-image-outset: 1vw;
  border-image-repeat: repeat repeat;
  border-style: solid;
  border-radius: 5px;
}
