/**

Save the Planet - Unite the Armies
Version: 2.0
Author: Save the Planet - Unite the Armies
Copyright: Save the Planet - Unite the Armies

[Table of contents]

1. Main Elements
2. Header
3. Footer

-----------------------------------------------------------------

-----------------------------------------------------------------
* 1. Main Elements
-----------------------------------------------------------------
*/

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

footer a,
header a {
  font-size: 0.7vw;
}

ul {
  list-style: none;
}
ol {
  list-style: decimal inside;
}
ul.disc {
  list-style: disc inside;
}
ul.circle {
  list-style: circle inside;
}
ul.square {
  list-style: square inside;
}
ol.decimal-leading-zero {
  list-style: decimal-leading-zero inside;
}
ol.upper-roman {
  list-style: upper-roman inside;
}
ol.lower-alpha {
  list-style: lower-alpha inside;
}

/*
-----------------------------------------------------------------
* 2. Header
-----------------------------------------------------------------
*/
/* Intial Height */
.header .logo,
.header ul > li,
.header ul > li > a:not(.button),
.header .dropdown > .nav-icon {
  height: 5vw;
  line-height: 3vw;
}
.header .logo {
  display: table;
}

.header ul li {
  display: inline-block;
  margin: 0 0.5vw;
  height: 1vw;
  line-height: 1vw;
}

.header ul > li > a {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  text-decoration: underline;
}

/* Bootstrap 5.3.3 aligns row differently and causes layout issues with old theme (theme.core.min) css */
/* .row {
  margin-left: auto !important;
  margin-right: auto !important;
  width: inherit;
} */
.header .header-inner {
  width: inherit;
}

/*
-----------------------------------------------------------------
* 3. Footer
-----------------------------------------------------------------
*/
