/* New Animations */
/***************************************/

.animated-h1 {
  animation-name: animated-h1;
  animation-duration: 2s;
  transition-timing-function: ease-out;
}

@keyframes animated-h1 {
  from {
    opacity: 0.6;
    scale: 0.7;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.animated-h5 {
  animation-name: animated-h5;
  animation-duration: 4s;
  transition-timing-function: ease-in;
}

@keyframes animated-h5 {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.animated-block {
  animation-name: animated-block;
  animation-duration: 4s;
  transition-timing-function: ease-in;

  @keyframes animated-block {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
