/* Font sizes */
.ufs-10 {
  font-size: 6vw !important;
}
.ufs-9 {
  font-size: 5.5vw !important;
}
.ufs-8 {
  font-size: 5vw !important;
}
.ufs-7 {
  font-size: 4.5vw !important;
}
.ufs-6 {
  font-size: 4vw !important;
}
.ufs-5 {
  font-size: 3.5vw !important;
}
.ufs-4 {
  font-size: 3vw !important;
}
.ufs-3-5 {
  font-size: 2.5vw !important;
}
.ufs-3 {
  font-size: 2vw !important;
}
.ufs-2 {
  font-size: 1.6vw !important;
}
.ufs-1-9 {
  font-size: 1.5vw !important;
}
.ufs-1-8 {
  font-size: 1.4vw !important;
}
.ufs-1-7 {
  font-size: 1.3vw !important;
}
.ufs-1-6 {
  font-size: 1.2vw !important;
}
.ufs-1-5 {
  font-size: 1.1vw !important;
}
.ufs-1-4 {
  font-size: 1vw !important;
}
.ufs-1-3 {
  font-size: 0.9vw !important;
}
.ufs-1-2 {
  font-size: 0.8vw !important;
}
.ufs-1 {
  font-size: 0.75vw !important;
}
.ufs-0-9 {
  font-size: 0.7vw !important;
}
.ufs-0-8 {
  font-size: 0.68vw !important;
}
.ufs-0-7 {
  font-size: 0.63vw !important;
}
.ufs-0-6 {
  font-size: 0.6vw !important;
}
.ufs-0-5 {
  font-size: 0.55vw !important;
}
.ufs-0-4 {
  font-size: 0.5vw !important;
}
.ufs-0-3 {
  font-size: 0.45vw !important;
}
.ufs-0-2 {
  font-size: 0.4vw !important;
}
.ufs-0-1 {
  font-size: 0.3vw !important;
}

/* Padding */
.upx-9 {
  padding-left: 9vw;
  padding-right: 9vw;
}
.upx-8 {
  padding-left: 8vw;
  padding-right: 8vw;
}
.upx-7 {
  padding-left: 7vw;
  padding-right: 7vw;
}
.upx-6 {
  padding-left: 6vw;
  padding-right: 6vw;
}
.upx-5 {
  padding-left: 5vw;
  padding-right: 5vw;
}
.upx-4 {
  padding-left: 4vw;
  padding-right: 4vw;
}
.upx-3 {
  padding-left: 3vw;
  padding-right: 3vw;
}
.upx-2 {
  padding-left: 2vw;
  padding-right: 2vw;
}
.upx-1 {
  padding-left: 1vw;
  padding-right: 1vw;
}

.upy-9 {
  padding-top: 9vw;
  padding-bottom: 9vw;
}
.upy-8 {
  padding-top: 8vw;
  padding-bottom: 8vw;
}
.upy-7 {
  padding-top: 7vw;
  padding-bottom: 7vw;
}
.upy-6 {
  padding-top: 6vw;
  padding-bottom: 6vw;
}
.upy-5 {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.upy-4 {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.upy-3 {
  padding-top: 3vw;
  padding-bottom: 3vw;
}
.upy-2 {
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.upy-1 {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.upt-9 {
  padding-top: 9vw;
}
.upt-8 {
  padding-top: 8vw;
}
.upt-7 {
  padding-top: 7vw;
}
.upt-6 {
  padding-top: 6vw;
}
.upt-5 {
  padding-top: 5vw;
}
.upt-4 {
  padding-top: 4vw;
}
.upt-3 {
  padding-top: 3vw;
}
.upt-2 {
  padding-top: 2vw;
}
.upt-1 {
  padding-top: 1vw;
}

.upb-9 {
  padding-bottom: 9vw;
}
.upb-8 {
  padding-bottom: 8vw;
}
.upb-7 {
  padding-bottom: 7vw;
}
.upb-6 {
  padding-bottom: 6vw;
}
.upb-5 {
  padding-bottom: 5vw;
}
.upb-4 {
  padding-bottom: 4vw;
}
.upb-3 {
  padding-bottom: 3vw;
}
.upb-2 {
  padding-bottom: 2vw;
}
.upb-1 {
  padding-bottom: 1vw;
}

.upl-9 {
  padding-left: 9vw;
}
.upl-8 {
  padding-left: 8vw;
}
.upl-7 {
  padding-left: 7vw;
}
.upl-6 {
  padding-left: 6vw;
}
.upl-5 {
  padding-left: 5vw;
}
.upl-4 {
  padding-left: 4vw;
}
.upl-3 {
  padding-left: 3vw;
}
.upl-2 {
  padding-left: 2vw;
}
.upl-1 {
  padding-left: 1vw;
}

.upr-9 {
  padding-right: 9vw;
}
.upr-8 {
  padding-right: 8vw;
}
.upr-7 {
  padding-right: 7vw;
}
.upr-6 {
  padding-right: 6vw;
}
.upr-5 {
  padding-right: 5vw;
}
.upr-4 {
  padding-right: 4vw;
}
.upr-3 {
  padding-right: 3vw;
}
.upr-2 {
  padding-right: 2vw;
}

/* Margin */
.umx-9 {
  margin-left: 9vw;
  margin-right: 9vw;
}
.umx-8 {
  margin-left: 8vw;
  margin-right: 8vw;
}
.umx-7 {
  margin-left: 7vw;
  margin-right: 7vw;
}
.umx-6 {
  margin-left: 6vw;
  margin-right: 6vw;
}
.umx-5 {
  margin-left: 5vw;
  margin-right: 5vw;
}
.umx-4 {
  margin-left: 4vw;
  margin-right: 4vw;
}
.umx-3 {
  margin-left: 3vw;
  margin-right: 3vw;
}
.umx-2 {
  margin-left: 2vw;
  margin-right: 2vw;
}
.umx-1 {
  margin-left: 1vw;
  margin-right: 1vw;
}

.umy-9 {
  margin-top: 9vw;
  margin-bottom: 9vw;
}
.umy-8 {
  margin-top: 8vw;
  margin-bottom: 8vw;
}
.umy-7 {
  margin-top: 7vw;
  margin-bottom: 7vw;
}
.umy-6 {
  margin-top: 6vw;
  margin-bottom: 6vw;
}
.umy-5 {
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.umy-4 {
  margin-top: 4vw;
  margin-bottom: 4vw;
}
.umy-3 {
  margin-top: 3vw;
  margin-bottom: 3vw;
}
.umy-2 {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
.umy-1 {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.umt-9 {
  margin-top: 9vw;
}
.umt-8 {
  margin-top: 8vw;
}
.umt-7 {
  margin-top: 7vw;
}
.umt-6 {
  margin-top: 6vw;
}
.umt-5 {
  margin-top: 5vw;
}
.umt-4 {
  margin-top: 4vw;
}
.umt-3 {
  margin-top: 3vw;
}
.umt-2 {
  margin-top: 2vw;
}
.umt-1 {
  margin-top: 1vw;
}

.umb-9 {
  margin-bottom: 9vw;
}
.umb-8 {
  margin-bottom: 8vw;
}
.umb-7 {
  margin-bottom: 7vw;
}
.umb-6 {
  margin-bottom: 6vw;
}
.umb-5 {
  margin-bottom: 5vw;
}
.umb-4 {
  margin-bottom: 4vw;
}
.umb-3 {
  margin-bottom: 3vw;
}
.umb-2 {
  margin-bottom: 2vw;
}
.umb-1 {
  margin-bottom: 1vw;
}

.uml-9 {
  margin-left: 9vw;
}
.uml-8 {
  margin-left: 8vw;
}
.uml-7 {
  margin-left: 7vw;
}
.uml-6 {
  margin-left: 6vw;
}
.uml-5 {
  margin-left: 5vw;
}
.uml-4 {
  margin-left: 4vw;
}
.uml-3 {
  margin-left: 3vw;
}
.uml-2 {
  margin-left: 2vw;
}
.uml-1 {
  margin-left: 1vw;
}

.umr-9 {
  margin-right: 9vw;
}
.umr-8 {
  margin-right: 8vw;
}
.umr-7 {
  margin-right: 7vw;
}
.umr-6 {
  margin-right: 6vw;
}
.umr-5 {
  margin-right: 5vw;
}
.umr-4 {
  margin-right: 4vw;
}
.umr-3 {
  margin-right: 3vw;
}
.umr-2 {
  margin-right: 2vw;
}
.umr-1 {
  margin-right: 1vw;
}

/* Letter spacing */
.lspacing-small {
  letter-spacing: 0.05vw;
}
.lspacing-medium {
  letter-spacing: 0.1vw;
}
.lspacing-large {
  letter-spacing: 0.2vw;
}
.lspacing-xlarge {
  letter-spacing: 0.2.5vw;
}

/* Header */

h1 {
  font-size: 3vw !important;
}
h2 {
  font-size: 2vw !important;
}
h3 {
  font-size: 1.5vw !important;
}
h4 {
  font-size: 1vw !important;
}
h5 {
  font-size: 0.8vw !important;
}
h6 {
  font-size: 0.6vw !important;
}
