<!-- Content -->
<div class="content clearfix">

  <!-- Fullscreen Slider Section -->
  <section class="section-block featured-media tm-slider-parallax-container">
    <div class="tm-slider-container full-width-slider" data-featured-slider data-progress-bar="false" data-parallax data-parallax-fade-out data-auto-advance data-animation="slide" data-scale-under="960">
      <ul class="tms-slides">
        <li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#000000" data-overlay-bkg-opacity="0.0">
          <div class="tms-content">
            <div class="tms-content-inner center left-on-mobile v-align-middle">
              <div class="row">
                <div class="col-12">
                  <h1 class="tms-caption title-xlarge color-white lspacing-medium no-margin-bottom weight-bold" data-animate-in="opacity:0;scale:1.5px;duration:600ms;easing:easeFastSlow;"
                      data-no-scale>
                    <%= _("Confirm email sent!") %>
                  </h1>
                  <div class="clear"></div>
                  <h5 class="tms-caption color-white lspacing-medium mt-20"
                      data-animate-in="opacity:0;transY:50px;duration:600ms;delay:300ms;easing:easeFastSlow;" data-no-scale>
                    <%= _("Go to your mailbox and click confirmation link on email we just have sent!") %>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <img data-src="/images/frontpage-slides/wildlife-park-wolf.jpg" src="/images/blank.png" alt="Wildlife park, sitting wolf"/>
        </li>
      </ul>
    </div>
  </section>
  <!-- Fullscreen Slider Section End -->
</div>
<!-- Content End -->

